<widget xmlns       = "http://www.w3.org/ns/widgets"    xmlns:gap       = "http://phonegap.com/ns/1.0"    xmlns:android   = "http://schemas.android.com/apk/res/android"    id              = "com.lumberg.greeeaaat"    version         = "1.0.0">		<supports-screens android:anyDensity="true" android:resizeable="true" 	android:smallScreens="true" 	android:normalScreens="true" 	android:largeScreens="true" 	android:xlargeScreens="true" />		<gap:config-file platform="android" parent="/manifest">	<supports-screens         android:xlargeScreens="false"         android:largeScreens="false"         android:smallScreens="false" /></gap:config-file></widget>